@charset "UTF-8";
body, html, div, ul, li, iframe, dd, dl, dt, p, img {
    border: none;
    padding: 0;
    margin: 0;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    font-size: 12px;
    color: #000;
    font-family: "微软雅黑";
}

/**头部**/
.header {
    width: 100%;
    height: 50px;
    background-color: #0075c7;
    position: absolute;
}
.header .logo {
    height: 34px;
    float: left;
    margin-top: 6px;
    margin-left: 20px;
}
.header .logo img {
    width: 40px;
}

/**导航部分**/
.content {
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ccc;
    top: 50px;
    bottom: 0;
    /**code——panel**/
    /**地图部分**/
    /*code add*/
}
.content .menu {
    min-width: 280px;
    float: left;
    border-right: 1px solid #e9e9e9;
    overflow-y: scroll;
    height: 100%;
}
.content .codeContent {
    width: 500px;
    -webkit-user-select: none;
    float: left;
    height: 100%;
    z-index: 999;
    position: relative;
    box-shadow: 3px 0px 6px rgba(0, 0, 0, 0.1);
}
.content .codeContent .openbar {
    padding: 0;
    height: 36px;
    line-height: 36px;
    background: #f6f6f6 url(http://developer.baidu.com/map/jsdemo/img/bg-footbar.gif) repeat-x;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.content .codeContent .openbar .user_menu > div > a:hover {
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}
.content .codeContent .openbar .user_menu {
    float: right;
    width: 195px;
    overflow: hidden;
}
.content .codeContent .openbar .user_menu div {
    float: left;
    margin-right: 7px;
}
.content .codeContent .openbar .user_menu .clip_container a {
    background: url(../images/result.png) no-repeat 0 2px;
    color: #3189f3;
    padding-left: 15px;
}
.content .codeContent .openbar .user_menu .run_container a {
    background: url(../images/result.png) no-repeat 0 -23px;
    color: #3189f3;
    padding-left: 17px;
}
.content .codeContent .openbar .user_menu .refresh_container a {
    background: url(../images/result.png) no-repeat 0 -47px;
    color: #3189f3;
    padding-left: 20px;
}
.content .codeContent .openbar .user_menu .help_container a {
    background: url(../images/result.png) no-repeat 0 -71px;
    color: #3189f3;
    padding-left: 17px;
}
.content .codeContent .openbar p {
    line-height: 36px;
    margin-left: 10px;
}
.content .codeContent #myresource {
    border: none;
    width: 100%;
    height: 350px;
    outline: none;
}
.content .codeContent_close {
    cursor: pointer;
    display: none;
    background: url(../images/result.png) no-repeat 0 -142px;
    width: 14px;
    height: 90px;
    position: absolute;
    right: 0;
    z-index: 9999;
    top: 50%;
    margin-top: -45px;
}
.content .codeContent_open {
    cursor: pointer;
    display: none;
    background: url(../images/result.png) no-repeat 0 -242px;
    width: 14px;
    height: 90px;
    position: absolute;
    z-index: 9999;
    top: 50%;
    margin-top: -45px;
}
.content .mapContent {
    border-left: 1px solid #e9e9e9;
    overflow: hidden;
    height: 100%;
    position: relative;
}
.content .mapContent #container {
    overflow: hidden;
    -webkit-user-select: none;
}
.content #overiframe {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999;
    display: none;
    -webkit-user-select: none;
}
.content .CodeMirror {
    font-family: Consolas,monaco,'Courier New', Courier, monospace;
    position: absolute;
    bottom: 0px;
    top: 33px;
    width: 100%;
}
.content .CodeMirror pre {
    line-height: 1.5em;
}
.content .CodeMirror-sizer {
    padding-left: 2px;
}
.content #drag {
    width: 2px;
    height: 100%;
    background: #eee;
    cursor: w-resize;
    float: left;
}